body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

    body {
        font-family: Arial, sans-serif;
        background-color: white; /* Белый фон */
    }
    .container {
        display: block;
        padding: 20px;
    }
    .block {
        width: 80%;
        background: white;
        padding: 20px;
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .jumbotron {
        background: linear-gradient(45deg, #ffd700, #daa520);
        color: white;
        padding: 50px;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }
    .btn-custom {
        background: linear-gradient(45deg, #ffd700, #daa520);
        color: white;
        border: none;
        transition: 0.3s;
        font-size: 1.2rem;
        padding: 12px 25px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 30px; /* Опускаем кнопку ниже */
    }
    .btn-custom:hover {
        background: linear-gradient(45deg, #daa520, #ffd700);
        transform: scale(1.1);
    }
    .image-placeholder {
        width: 100%;
        height: 200px;
        background: #f5deb3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #666;
        margin-bottom: 10px;
        border-radius: 10px;
    }

